<%- include('header') -%>

<h1>Viðburðasíðan</h1>

<h2>Viðburðir á næstunni</h2>
<ul>
<% for(let event of events ) { %>
	 <li> <a href="<%=event.slug %>" > <%= event.name %> </a> </li>
	 <p> <%= event.description %> </p> 
	 <br>

<% } %>
</ul>

<hr>

<h3><a href="/admin/login">Innskráning stjóranda</a></h3>

<%- include('footer') -%>